body {
  background: #5b49d3;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.home {
  display: flex;
  flex-direction: row;
  color: #5b49d3;
  padding: 0 20px;
  margin-top: 60px;
}

.Container {
  display: flex;
  justify-content: flex-end;
  background: green;
  flex-direction: row;
  color: #5b49d3;
  /* flex-wrap: wrap; */
  padding: 0 20px;
  margin-top: 60px;
  /* align-items: stretch; */
  /* padding-bottom: 70px; */
}
.CaseHome {
  margin-top: 15px;
  border-radius: 5px;
  width: 800px;
  background: #fcfcfc;
  background: darkkhaki;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  cursor: pointer;
  text-align: center;
  justify-content: center;
}
.Title {
  color: #5b49d3;
  background: red;
}
.Form {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.Case {
  border-radius: 5px;

  width: 800px;
  /* background: #fcfcfc; */
  background: yellow;
  margin: 15px 15px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  cursor: pointer;
  text-align: center;
}
/* .Title h2 {
  /* margin-block-start: 0.67em;
  margin-block-end: 0.67em; */
/* display: block; */
/* display: flex;
  /* justify-content: center; */
/* text-align: center;
  background: greenyellow;  */
/* }  */

.Input {
  margin: 10px;
  border-radius: 4px;
  height: 35px;
}
.ButtonAdd {
  width: 200px;
  height: 30px;
  border-radius: 4px;

  margin-left: 300px;
  background: #5b49d3;
  color: white;
  /* display: flex;
  text-align: center;
  justify-content: center; */
}
/* stp*/
.ContainUser {
  display: flex;
  background: cornflowerblue;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 35px;
  border-radius: 4px;
  /* position: relative; */
}
.ContainExpense {
  background: purple;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 35px;
  border-radius: 4px;
  position: relative;
}
/* .Operation {
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: space-between; */
/* background: #f7f7f7; */
/* background: pink;
  padding: 5px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 4px;
} */
/* }
.Text {
  background: aqua;
} */

.Info {
  display: flex;
  list-style-type: none;
  /* display: inline; */
  /* position: absolute; */
  margin: 0;
  padding: 0;
  background: tomato;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 35px;
  border-radius: 4px;
}
.lignTotal {
  margin-left: 35px;
  margin-right: 35px;
  display: flex;
  justify-content: space-between;
}
